body {
	/*background: #fafafa; */
	/*#fafafa, #fcfcfc*/
	background: #ffffff; 
}
#data_form, #donut_charts_container, .multi_series_line_chart {
	background: #f9f9f9; 
}

.navbar {
	/*background: #000379;*/
	background: #021139; 
}

.navbar a {
	/*color: #eaebff;*/
	color: #ffffff; 
}
.navbar a:hover, .navbar a:active {
	/*color: #000379; */
	color: #021139; 
}
.navbar .navbar-header a:hover, .navbar-header .navbar a:active {
	/*color: #000379; */
	color: #ffcc00; 
}

div.page_header h1 {
	margin-top: 0; 
	padding: 10px 65px; 
	display: block; 
	background: -webkit-linear-gradient(left, #003366, #0057AE); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #003366, #0057AE); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #003366, #0057AE); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #003366, #0057AE); /* Standard syntax */
	color: #ffffff; 
}
div.page_header a {
	color: #ffffff;
	text-decoration: underline;  
}
div.page_header a:hover, div.page_header a:active {
	color: #ffcc00;  
}

.data_table, .data_table th, .data_table td {
	border: solid 1px #cccccc; 
	border-collapse: collapsed; 
}

.data_table th, .data_table td {
	padding: 3px; 
}

div.alert {
	width: 812px; 
	float: left; 
	border-radius: 5px;  
	margin: 5px; 
	padding: 10px; 
}

.data_table_div {
	float: left; 
	clear: left; 
	display: inline;
	padding: 15px; 
}
#donut_charts_container {
	display: inline; 
	float: left; 
	clear: left; 
	border: solid 1px #cccccc;
	border-radius: 5px;  
	margin: 5px; 
}
#charts_container {
	display: inline; 
	float: left; 
	/*border: solid 1px #cccccc;
	border-radius: 5px; 
	margin: 5px;  */
}
.donut_chart {
	/*border: solid 1px #ffcc00; */
	display: inline; 
	float: left; 
	/*border: solid 1px #cccccc;
	border-radius: 5px;*/  
	margin: 5px; 
	padding: 5px; 
}
.donut_chart .donut_label {
	text-align: center; 
	font-size: 16px; 
	font-weight: bold; 
	color: #337AB7;
}
#data_form {
	/*border: solid 1px #ff0000; */
	float: left;  
	width: 260px;  
	margin: 5px; 
	padding: 15px; 
	border: solid 1px #cccccc;
	border-radius: 5px;  
}
#data_form .form-group-half-width {
	float: left; 
	width: 110px; 
}

.form-group-inline-left-padding label {
	padding-left: 50px; 
}




.multi_series_line_chart {
	display: inline; 
	float: left; 
	clear: left; 
	border: solid 1px #cccccc;
	border-radius: 5px;  
	margin: 5px; 
	padding: 5px; 
}

.multi_series_line_chart .axis path
, .multi_series_line_chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.multi_series_line_chart .x.axis path {
  display: none;
}

.multi_series_line_chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}